*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body{
    background-color:#010020;
    color: white;
    font-family: "Poppins", sans-serif;
}
.left h2{
    font-size: 1.6rem;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: #2e2e5f;
}
nav ul {
    display: flex;
}
nav ul li a {
    margin: 0 24px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}
nav ul li a:hover{
     color:rgb(142, 91, 190);
    font-size: 1.01rem;
}

.fristSec{
     display: flex;
    justify-content: space-around;
    margin: 30px 0;
    align-items: center;
}
.fristSec > div{
    width: 30%;
    margin: 40px 0;
    line-height: 2em;
}
.leftSec{
    font-size: 2rem;
}
.leftSec .spa{
    font-size: 50px;
}
.rightSec img{
    width: 100%;  
}
.red{
   
    font-size: 50px;
}
#element{ 
    color:rgb(142, 91, 190);
    font-size: 3rem;
}
main hr{
    border: 0;
    background-color:rgb(142, 91, 190) ;
    height: 1.2px;
    margin: 40px 80px;
}
.SecondSec {
      max-width: 80vw;
    margin: auto;
    height: 80vh;
}
.SecondSec h2{
    font-size: 2rem ;
}
.SecondSec .text_grey{
    color: gray;
}
.SecondSec .box{
    background: white;
    width:75vw ;
    height: 2px;
    margin: 56px 0;
    display: flex;
}
.SecondSec .vertical{
    background-color: gray;
    height: 93px;
    width: 1.2px;
    margin: 0 120px;
}
.img_top{
    width: 30px;
    position: relative;
  top: -34px;
  left: -12px;
}
.vertical_title{
  position: relative;
  top: 75px;
  width: 150px;
}

.vertical_desc{
   position: relative;
   top: 85px;
   width: 150px;
   font-size: 10px;
   color: gray;
}
footer{
    background-color:#2e2e5f;
    height: 233px;
    
}
.footer{
     display: flex;
    justify-content: space-around;
    padding: 40px 0;
}
